/*********************************************
	 Media Screen css
**********************************************/
@media screen and (max-width: 1200px) {
	.sectitle h3{font- 2px;}
	.matinstwrp .micol2{padding: 30px 30px;}
	.gallery_images img{
		height: 250px;
	}
}



@media screen and (max-width: 990px) {
	.logo{
		text-align: center;
		border-bottom: 1px solid #969696;
		padding-bottom: 10px;
		margin-bottom: 6px;
	}	
	.navbar-nav>li {padding: 17px 10px;}
	.header-wrap{top: 0px;}
	.teamImg img, .projectImg img{width:100%;}
	.team-wrap ul li{margin:20px 0;}
	.team-wrap ul li:last-child{margin-bottom:0;}
	.welImg{text-align:center; margin-top:20px;}
	.furniture-service li{max-width: 118px; margin: 0 -1px;}
	.team-wrap p {margin-top: -12px;}
	.desfeature .fetcol-1:after, .desfeature .fetcol-1:before{display:none;}
	.four-zero-page p{letter-spacing: 1px; padding:0;}
	.newsWrp{float:left !important;}
	.sliderTxt .slidertext3{padding:0 !important;}
	.blogList .blogInfo{padding:20px;}
	.contact-info-group{margin-bottom:30px;}
	.desfeature .fetcol-1{padding:30px;}
	.gmail_phone {
        overflow: hidden;
        display: none;
    }
}

@media screen and (max-width: 767px) {
	.header-wrap{position:static;}
	.furniture-service{margin-top:60px;}
	.furniture-service li{padding:0 10px; float:left; width:33%; max-width:inherit; margin-top:15px;}
	.welcome-content-box{text-align:center; width:auto;}
	.title{float:none !important; border-right:none !important; padding:0 !important;}
	.team-wrap, .project-heading{text-align:center;}
	.footer-wrap h3{margin-top:10px;}
	.search-bar{border:none;}
	.navigationwrape .pull-right{float:none !important;}
	.navbar-nav{float:none;}
	.navbar-nav>li{padding:0;}
	.navbar-default .navbar-nav>li>a{padding:10px 32px;}
	.navbar-default .navbar-nav>li>a:hover{background: #a58838; color:#fff;}
	.welcomeWrap .title h1{margin-top:0;}
	.social-icons li{margin:0 !important;}
	.footerWrp{text-align:center;}
	.desfeature .fetcol-1{float:none; width:auto; min-height:inherit; padding-top:60px; background: #f7f7f7;}
	.matinstwrp .micol, .desfeature .fetcol-2{float:none; width:auto;}
	.matinstwrp .micol2{float:none !important; width:auto !important; height:auto; padding-top:60px !important;}
	.title h1{font-size:52px;}
	.furniture-service li{width:50%;}
	.project-heading p span, .team-wrap p span{display:none;}
	.team-wrap p{margin-top:10px;}
	.four-zero-page h2 {font-size: 236px;}
	.news-wrap .pull-right{float:none !important; background: #f7f7f7;}
	.sliderTxt .slidertext1{font-size:48px;}
	.desfeature{padding:0 15px;}
	.search-bar{float:left;}
	.navbar-header{float:right; z-index:99; position:relative;}
	.navbar-collapse{margin-top:46px;}
	.search-bar .dropdown-menu{left:0; right:auto; top:48px;}
	.navbar-collapse.in{overflow:hidden;}
	.navbar-collapse{overflow:hidden;}
	.navbar-nav>li>.sub-menu{position:static; float:none; width:100%;}
	.sub-menu>li>a{padding: 8px 20px 8px 45px;}
	.sub-menu>li a:before{left: 28px;}
	.inner-heading{padding:40px 0;}
	.navbar-default{padding: 12px 0 12px 10px;}
	.service-wrap .service-thumb{max-width: 345px; margin: 30px auto 30px auto;}
	.testimonials-wrap .title h1{font-size:36px;}
	.title{margin:0 !important;}
	.testimonials-wrap .title{margin-bottom:90px !important;}
	.navbar-default{background:none;}
	.header-wrap{background: rgba(0, 0, 0, 0.66);}

	.navbar-default .navbar-nav>li>a+i {display: block;}
	.navbar-nav li:focus .sub-menu {display: block;}
	.navbar-collapse{width:100%;}
	.col-md-3.col-sm-3.col-xs-12.counter-item{
		text-align: center;
	}
	.gmail_phone .email, .gmail_phone .phone {
		float: none;
		overflow: hidden;
		padding-right: 15px;
		border-right: none;
		text-align: center;
	}
	.gmail_phone .social-media{
		display: none;
	}
	.gmail_phone {
        overflow: hidden;
        display: none;
    }
}

@media screen and (max-width: 480px) {
    .four-zero-page h2 {font-size: 140px;}
    .four-zero-page h3{font-size:18px;}
    .sliderTxt .slidertext1{font-size:36px;  padding-top:0;}
    .sliderTxt .slidertext2{font-size:24px;}
    .furniture{min-height: 132px;}
    .title h1{font-size:38px;}
    .testimonials-wrap .title h1{font-size:24px;}
    .title h1 span{font-size:18px;}
    .gmail_phone {
        overflow: hidden;
        display: none;
    }
}